@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import '../App.scss';

.infoField {
    width: 70%;
    margin: 20px;
    display: flex;

    .title {
        width: 130%;
        font-size: 3rem;
        color: white;
        padding: 1rem;
    }

    .infoBoxes {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .inputs {
        width: 27.65rem;
        height: 2.4rem;
        background: #c4c4c4;
        border-width: 0px;
        border-radius: 128px;
        padding: 0.5rem;
        padding-left: 2rem;
        margin: 0.6875rem;
        font-size: 2rem;
        color: black;
    }

    .buttons {
        width: 29.25rem;
        height: auto;        
        display: flex;
        justify-content: space-around;
        align-items: center;

        .cancelButton {
            display: flex;
            align-items: center;
            width: auto;
            height: 2.5rem;
            padding: 0.375rem;
            background-color: #FF0000;
            font-size: 1.25rem;
            border-radius: 10px;
            border: none;

            &:hover {
                background-color: #b10000;
            }
        }

        .confirmButton {
            display: flex;
            align-items: center;
            width: auto;
            height: 2.5rem;
            padding: 0.375rem;
            background-color: #00C34E;
            font-size: 1.25rem;
            border-radius: 10px;
            border: none;

            &:hover {
                background-color: #009231;
            }
        }
    }

    .paymentSystem {
        background-color: red;
        padding-top: 6.7rem;

        .paymentSelector {
            width: 27.65rem;
            height: 2.4rem;
            background: #c4c4c4;
            border-width: 0px;
            border-radius: 128px;
            padding: 0.5rem 0.5rem 0.5rem 2rem;
            overflow: hidden;
            margin: 0.6875rem;
            font-size: 2rem;
            color: black;
            display: flex;
            align-items: center;
        }

        .paymentOptionField {
            background-color: #3fce14;
            width: 100%;
            margin-top: 22px;
            display: none;

            .paymentOption {
                width: 27.65rem;
                height: 2.4rem;
                background: #c4c4c4;
                border-width: 0px;
                border-radius: 128px;
                padding: 0.5rem 0.5rem 0.5rem 2rem;
                overflow: hidden;
                margin: 0.6875rem;
                margin-bottom: 22px;
                font-size: 2rem;
                color: black;
                display: flex;
                align-items: center;
            }   
        }
    }
}

@media only screen and (max-width: 530px) {
    .infoField {
        width: 100%;

        .title {
            text-align: center;
            width: 80%;
        }
    
        .infoBoxes {
            width: 22.35rem;
        }
    
        .inputs {
            width: 20.65rem;
        }
    
        .buttons {
            width: 22.35rem;
        }
    }
}