.content {
    background-color: rgb(195, 0, 255);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    margin: 0.4rem;
    margin-right: 0.8rem;

    .foods {
        background-color: #979595;
        margin: 0.4rem;
        border-radius: 10px;
    }


    .food {
        display: flex;
        flex-direction: row;
        margin: 0.4rem;
        
        .input {
            width: 100px;
            border-width: 0px;
            border-radius: 10px;
            font-size: 0.9rem;
            margin-left: 0.4rem;
            width: 90px;
            background-color: rgb(179, 179, 179);
            text-indent: 2px;

            &::placeholder {
                color: black;
                text-align: center;
            }
        }

        .button {
            border-width: 0px;
            border-radius: 10px;
            background-color:#979595;   
            font-size: 1rem;
            transition: background-color 0.2s;
            width: 80px;
            margin-left: 0.4rem;
                    
            &:hover {
                    background-color: rgb(0, 255, 0);
            }
        }
    }


    .category {
        display: flex;
        flex-direction: row;
        margin: 5px;

        .label {
            background-color: rgb(179, 179, 179);
            border-width: 0px;
            border-radius: 10px;
            padding: 0.2rem;
            width: fit-content;
            min-width: 100px;
            font-size: large;
            text-align: center;
        }

        .button {
            border-width: 0px;
            border-radius: 10px;
            background-color:#979595;
            font-size: 1rem;
            transition: background-color 0.2s;
            width: 80px;
            margin-left: 0.4rem;
                    
            &:hover {
                    background-color: rgb(255, 0, 0);
            }
        }
    }
}
